*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #d7ded8;
    --text-color: #212529;
    --primary-color: #0d6efd;
    --content-bg: #63f77e;
    --font-main: 'IBM Plex Sans', sans-serif;
}


.ibm-plex-sans-bold {
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.ibm-plex-sans-standard {
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
  
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-main);
}

.heading {
    text-align: center;
}

#hero {
    text-align: center;
    margin: 20px 15px 20px 15px;
    font-size: 1.25rem;
}

.project-cards {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem 0.5rem;
    margin: 1rem;
}

.individual-card {
    background-color: var(--content-bg);
    padding: 1rem;
    border-radius: 5px;
    max-width: 800px;
}